.title-red {
  color: rgb(227, 181, 74);
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
.img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img .rounded {
  border-radius: 20px;
}
video {
  display: flex;
  align-items: center;
}
